AUTH_METHOD=entra
AUTH_SECRET=replace-with-a-long-random-string
AUTH_MICROSOFT_ENTRA_ID_ID=00000000-0000-0000-0000-000000000000
AUTH_MICROSOFT_ENTRA_ID_SECRET=replace-with-client-secret
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=00000000-0000-0000-0000-000000000000
AUTH_MICROSOFT_ENTRA_ID_ADMIN_ROLE_VALUES=Assignment.Import
BASIC_AUTH_USERNAME=tester
BASIC_AUTH_PASSWORD=change-me
BASIC_AUTH_DISPLAY_NAME=Basic Auth Tester
APP_COMPANY_NAME=Contoso GmbH
NEXTAUTH_URL=http://localhost:3000
